$menu-background: #fff;
$menu-text: #666;
$menu-submenu-text: #666;
$menu-submenu-focus-text: #333;
$menu-submenu-background: #fff;
$menu-submenu-background-alt: #f1f1f1;

$menu-icon: #ccc;
$menu-highlight-icon: #aaa;
