/* compiled by scssphp v0.0.10 on Wed, 09 Mar 2016 07:00:50 +0100 (0.135s) */

/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
html {
  background: #f1f1f1;
  /* Links */ }

a {
  color: #0074a2; }
  a:hover, a:active, a:focus {
    color: #0099d5; }

#media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover {
  color: #0099d5;
  /* Forms */ }

input[type=checkbox]:checked:before {
  color: #19be96; }

input[type=radio]:checked:before {
  background: #19be96; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active {
  color: #0099d5;
  /* Core UI */ }

.wp-core-ui {
  /* List tables */ }
  .wp-core-ui .button-primary {
    background: #19be96;
    border-color: #139172 #107a61 #107a61;
    color: white;
    box-shadow: 0 1px 0 #107a61;
    text-shadow: 0 -1px 1px #16a784, 1px 0 1px #16a784, 0 1px 1px #16a784, -1px 0 1px #16a784; }
    .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
      background: #1bcca1;
      border-color: #107a61;
      color: white;
      box-shadow: 0 1px 0 #107a61; }
    .wp-core-ui .button-primary:focus {
      box-shadow: inset 0 1px 0 #139172, 0 0 2px 1px #33b3db; }
    .wp-core-ui .button-primary:active {
      background: #139172;
      border-color: #107a61;
      box-shadow: inset 0 2px 0 #107a61; }
    .wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled {
      color: #c7d1cf !important;
      background: #149a7a !important;
      border-color: #107a61 !important;
      text-shadow: none !important; }
    .wp-core-ui .button-primary.button-hero {
      box-shadow: 0 2px 0 #107a61 !important; }
      .wp-core-ui .button-primary.button-hero:active {
        box-shadow: inset 0 3px 0 #107a61 !important; }
  .wp-core-ui .wp-ui-primary {
    color: #fff;
    background-color: #2d3c50; }
  .wp-core-ui .wp-ui-text-primary {
    color: #2d3c50; }
  .wp-core-ui .wp-ui-highlight {
    color: #fff;
    background-color: #19be96; }
  .wp-core-ui .wp-ui-text-highlight {
    color: #19be96; }
  .wp-core-ui .wp-ui-notification {
    color: #fff;
    background-color: #19be96; }
  .wp-core-ui .wp-ui-text-notification {
    color: #19be96; }
  .wp-core-ui .wp-ui-text-icon {
    color: #7b94b5; }

.wrap .add-new-h2:hover, .wrap .page-title-action:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus {
  color: #9baec7;
  background-color: #2d3c50; }

.view-switch a.current:before {
  color: #2d3c50; }

.view-switch a:hover:before {
  color: #19be96;
  /* Admin Menu */ }

#adminmenuback, #adminmenuwrap, #adminmenu {
  background: #2d3c50; }

#adminmenu a {
  color: #9baec7; }

#adminmenu div.wp-menu-image:before {
  color: #7b94b5; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #19be96; }

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #fff;
  /* Active tabs use a bottom border color that matches the page background color. */ }

.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
  /* Admin Menu: submenu */ }

#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #202b39; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #202b39; }

#adminmenu .wp-submenu .wp-submenu-head {
  color: #acbbd0; }

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #acbbd0;
  /* Admin Menu: current */ }
  #adminmenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #fff; }

#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #fff; }
  #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #fff; }

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
  border-right-color: #f1f1f1; }

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #19be96; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before, #adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, .ie8 #adminmenu li.opensub div.wp-menu-image:before {
  color: #fff;
  /* Admin Menu: bubble */ }

#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  color: #fff;
  background: #19be96; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins {
  color: #fff;
  background: #202b39;
  /* Admin Menu: collapse button */ }

#collapse-menu {
  color: #7b94b5; }

#collapse-menu:hover {
  color: #fff; }

#collapse-button div:after {
  color: #7b94b5; }

#collapse-menu:hover #collapse-button div:after {
  color: #fff;
  /* Pointers */ }

.wp-pointer .wp-pointer-content h3 {
  background-color: #19be96;
  border-color: #16a784; }

.wp-pointer .wp-pointer-content h3:before {
  color: #19be96; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: #19be96;
  /* Media */ }

.media-item .bar, .media-progress-bar div {
  background-color: #19be96; }

.details.attachment {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #19be96; }

.attachment.details .check {
  background-color: #19be96;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #19be96; }

.media-selection .attachment.selection.details .thumbnail {
  -webkit-box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #19be96;
  box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #19be96;
  /* Themes */ }

.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme a:hover:after, .theme-browser .theme.add-new-theme a:focus:after {
  background: #19be96; }

.theme-browser .theme.add-new-theme a:hover span:after, .theme-browser .theme.add-new-theme a:focus span:after {
  color: #19be96; }

.theme-section.current, .theme-filter.current {
  border-bottom-color: #2d3c50; }

body.more-filters-opened .more-filters {
  color: #9baec7;
  background-color: #2d3c50; }

body.more-filters-opened .more-filters:before {
  color: #9baec7; }

body.more-filters-opened .more-filters:hover, body.more-filters-opened .more-filters:focus {
  background-color: #19be96;
  color: #fff; }

body.more-filters-opened .more-filters:hover:before, body.more-filters-opened .more-filters:focus:before {
  color: #fff;
  /* Widgets */ }

.widgets-chooser li.widgets-chooser-selected {
  background-color: #19be96;
  color: #fff; }

.widgets-chooser li.widgets-chooser-selected:before, .widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #fff;
  /* Customize */ }

#customize-theme-controls .widget-area-select .selected {
  background-color: #19be96;
  color: #fff;
  /* Responsive Component */ }

div#wp-responsive-toggle a:before {
  color: #7b94b5; }

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #19be96; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #202b39; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: #7b94b5;
  /* TinyMCE */ }

.mce-container.mce-menu .mce-menu-item:hover, .mce-container.mce-menu .mce-menu-item.mce-selected, .mce-container.mce-menu .mce-menu-item:focus, .mce-container.mce-menu .mce-menu-item-normal.mce-active, .mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: #19be96; }
